*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.vids{
   
    height: 100vh;
    width: 100vw;
    background-color: rgb(50, 36, 241);
    display: flex;
    justify-content: center;
    align-items: center;

}

.outerbox{
    height: 98vh;
    width: 98vw;
    /* background-color: rgb(50, 36, 241); */
    display: flex;
    align-items: center;
    flex-direction: column;

}

.areaOne{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 95%;
    justify-content: center;
    background-color: transparent;
}

#locc{
    background-color: transparent;
    height: 25px;
    margin: 10px;
    text-align: center;
    color: #fff;


}


#idinpt{
    height: 40px;
    flex: 1;
}

.locationIcon{
    width: 20px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}






.outerbox input{
    height: 20px;
    width: 74%;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 14px;



}

.outerbox button{
    width: 50px;
    border-radius: 5px;
   



}

.areaTwo{
    max-height: 300px;
    width: 95%;
    display: flex;
    flex-direction: column;
}

.iimg{
    height: 40vw;
    margin: 10px;
    background-color: brown;
    background: url(./img/weather-Clear.png);
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;



}

.areaTwo h1{
   text-align: center;
   color: #fff;
}

.areaTwo p{
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
 }

 .footl1 i,p{
    color: #fff;

 }

 .footr1 i,p{
    color: #fff;

 }

.humwin{
    height: 100px;
    width: 100%;
    border-top: 2px solid #dacdcd;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 7px;
} 

.humwin .part1{
    height: 90px;
    width: 49%;
    border-right: 1px solid black;
    font-size: 18px;
    padding-top: 5px;
} 

.humwin p{
    display: inline-block;
    font-size: 16px;
} 

.humwin .part2{
    height: 90px;
    width: 49%;
    border-left: 1px solid black;
    padding-top: 5px;
    font-size: 18px;
    
} 


.clr{
    color: #fff;
}